<div class="main-top">
  <div class="main_room_name">
    techroom1
  </div>
  <div class="exit_chat">
    <a href="">チャットを終了する</a>
  </div>
</div>

<div class="main-middle">
  <%= render partial: "message", collection: @messages %>
</div>

<%= form_with model: [@room, @message], class: "main-bottom", local: true do |f| %>
  <div class="left_form">
    <%= f.text_field :content, class: "message_box", placeholder: "type a message" %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: "hidden" %>
    </label>
  </div>
  <%= f.submit "送信", class: "submit_btn" %>
<% end %>